---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

import Nav from "../components/Nav.astro";
import CardEducation from "../components/CardEducation.astro";
import Header from "../components/Header.astro";
import CardProject from "../components/CardProject.astro";

import IconAstro from "../components/icons/IconAstro.astro";
import IconCss from "../components/icons/Css.astro";
import IconHtml from "../components/icons/HTML.astro";
import IconPodman from "../components/icons/Podman.astro";
import IconTailwind from "../components/icons/Tailwind.astro";

import workIcon from "../assets/icons-work.png";
import educationIcon from "../assets/icons-education.png";
import fitBg from "../assets/fit.webp";
import blogBg from "../assets/bg-blog.webp";
import linkBg from "../assets/link-hub.webp";
import CardTechnologies from "../components/CardTechnologies.astro";
---

<Layout
    title="FuSoraS | Portafolio"
    description="Mi portafolio de desarrollo y programados web"
>
    <Nav />
    <Header />
    <h2 id="about-me">Sobre mí<span>.</span></h2>
    <p class="content-m">
        +2 años de formación como Técnico en Análisis de <strong>Programación</strong>.
        Experiencia en desarrollo <strong>web colaborativo</strong>, aprendiendo tecnologías
        modernas y aplicando buenas prácticas tanto en los sistemas operativos
        Windows y Gnu-Linux.
    </p>
    <p class="content-m">
        Como parte de mi interés es contribuir a proyectos open source, realicé
        una contribución a la documentación de "is-a.dev." creando un fork,
        Corregí las rutas de las imágenes para asegurar su correcta
        visualización. Envié un Pull Request (PR) con los cambios.
    </p>

    <section id="experience">
        <p>Formación y experiencia</p>
        <h2>Formación y experiencia</h2>
        <CardEducation
            image={workIcon.src}
            title="Soporte técnico"
            date="2025 Enero - 2025 Abril"
            content="Instalación de sistemas operativos, gestión de cableado de red y mantenimiento básico de equipos informáticos."
        />
        <CardEducation
            image={educationIcon.src}
            title="Analista Programador"
            date="2023 - 2025"
            content="Conocimiento en bases de datos MySQL, desarrollo web y programación en Java con orientación a objetos. Conocimientos en diversos sistemas operativos e inglés técnico."
        />
    </section>

    <h2 id="projects">Projetos</h2>
    <div class="card-projects">
        <CardProject
            image={blogBg.src}
            linkWeb="https://fusoras.github.io/blog/"
            linkRepo="https://github.com/FuSoraS/blog"
            >
            <h3 class="card-projects-title">Blog</h3>
            <IconAstro class="icon-languages first-icon" />
            <IconCss class="icon-languages" />
            <p class="card-projects-p">Página web desarrollada con <strong>Astro</strong>. Implementé componentes
            reutilizables de Astro y utilicé las Colecciones de Contenido.</p>
            </CardProject
        >
        <CardProject
            image={fitBg.src}
            linkWeb="https://fusoras.github.io/page-fake1/"
            linkRepo="https://github.com/FuSoraS/page-fake1"
            >
            <h3 class="card-projects-title">FitZone Gym</h3>
            <IconHtml class="icon-languages first-icon" />
            <IconCss class="icon-languages" />

            <p class="card-projects-p">Mi primera página web, en la cual implementé CSS utilizando la
            <strong>metodología BEM</strong>. También apliqué técnicas modernas como <strong>Nesting CSS</strong>,
            variables de CSS y media queries con condicionales.</p></CardProject
        >
        <CardProject
            image={linkBg.src}
            linkWeb="https://fusoras.github.io/link-hub/"
            linkRepo="https://github.com/FuSoraS/link-hub"
            >
            <h3 class="card-projects-title">Link hub</h3>
            <IconAstro class="icon-languages first-icon" />
            <IconCss class="icon-languages" />
            <p class="card-projects-p">Página desarrollada utilizando Astro. Implementé componentes
            reutilizables de Astro y empleé Node.js junto con npm para la
            administración de dependencias.</p></CardProject
        >
    </div>
    <h2 id="other-tec">Otras tecnologías</h2>
    <section class="section-tech">
        <CardTechnologies title="Podman">
            <IconPodman class="section-tech-svg"/>
        </CardTechnologies>
        <CardTechnologies title="Tailwind">
            <IconTailwind class="section-tech-svg"/>
        </CardTechnologies>
    </section>

    <footer>2025</footer>

    <style>
        html {
            scroll-behavior: smooth;
        }

        h2 {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .content-m {
            margin-bottom: 30px;
        }
        footer {
            text-align: center;
            padding: 50px;
        }
        .card-projects {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
        }
        #projects {
            margin-top: 50px;
        }
        #about-me {
            margin-top: 128px;
        }
        #about-me span {
            font-size: 50px;
            margin-left: 5px;
            color: var(--green-dark);
        }
        #experience {
            margin-bottom: 150px;
        }
        #experience p {
            color: transparent;
            margin-bottom: 20px;
        }
        #other-tec {
            margin-top: 80px;
        }
        .icon-languages {
            display: inline-flex;
            justify-content: center;

            height: 25px;
            width: fit-content;
            margin: 0 0 0 8px;
        }
        .first-icon {
            margin-left: 20px;
        }
        .card-projects-title {
            font-size: 26px;
            text-align: center;
            color: light-dark(#2d9759,#91E891);
            font-weight: bold;
        }
        .card-projects-p {
            justify-self: center;
            margin-left: 10px;
            margin: 15px 15px 30px 15px;
            text-wrap: pretty;
            width: 90%;
        }
        strong {
            color: var(--green)
        }
        .section-tech {
            display: flex;
            gap: 10px;
        }
        .section-tech-svg {
            height: 100%;
            width: 100%;
        }
    </style>
</Layout>
