---
import { getI18N } from "@/i18n/index"

const { currentLocale } = Astro
const locate = getI18N({ currentLocale });
---
<h2 id="about-me">{locate.ABOUT_ME_TITLE}<span>.</span></h2>
<p class="content-m">
    {locate.ABOUT_ME_PARAGRAPH_1} <strong>{locate.ABOUT_ME_PARAGRAPH_2}</strong>. {locate.ABOUT_ME_PARAGRAPH_3} <strong>{locate.ABOUT_ME_PARAGRAPH_4}</strong>, {locate.ABOUT_ME_PARAGRAPH_5}
</p>
<p class="content-m">
    {locate.ABOUT_ME_PARAGRAPH_6}
</p>

<style>
    #about-me {
        margin-top: 128px;
    }
    .content-m {
        margin-block: 1lh;
        margin-block: 1em;
    }
    span {
        color: var(--green);
    }
</style>