---
const {image, imageL1, imageL2, title, linkWeb, linkRepo } = Astro.props;
---
<article class="ar-main">
    <img class="ar-main-cover" src={image} alt="porjectos">
    {imageL1 && (
        <img class="icon-languages first-icon" src={imageL1} alt={title} />
    )}
    {imageL2 && (
        <img class="icon-languages" src={imageL2} alt={title} />
    )}

    <h3>{title}</h3>
    <p><slot /></p>
    <a href={linkWeb} class="ar-a first-button" rel="noreferrer noopener" target="_blank">Sitio web</a>
    <a href={linkRepo} class="ar-a" rel="noreferrer noopener" target="_blank">Código</a>
</article>

<style>
    .ar-main {
        border: 2px solid light-dark(#333,#fff);
        border-radius: 15px;
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }

    .ar-main-cover {
        height: 200px;
        max-width: 100%;
        margin: auto;
        object-fit: cover;
    }
    .icon-languages {
        display: inline-flex;
        justify-content: center;

        height: 25px;
        width: fit-content;
        margin: 20px 0 0 8px;
    }
    .first-icon {
        margin-left: 20px;
    }

    h3 {
        font-size: 26px;
        margin-top: 10px;
        text-align: center;
        color: #91E891;
        font-weight: bold;
    }
    .ar-a {
        display: inline-block;
        background-color: #2FA35F;
        text-decoration: none;
        color: #fff;
        border-radius: 10px;
        font-weight: bold;
        padding: 10px 15px;
        box-sizing: border-box;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .ar-a:hover {
        background-color: #2fa35fad;
    }
    .first-button {
        margin-left: 20px;
    }

    p {
        justify-self: center;
        margin-left: 10px;
        margin: 0 15px 30px 15px;
        text-wrap: pretty;
        width: 90%;
    }
</style>