---
import { ROUTES } from '@/config';

import CardProject from "@/components/CardProject.astro";

import demoPT from "@/assets/proyecto-titulacion-bg.webp";
import blogBg2 from "@/assets/blog-bg.webp";
import fitBg from "@/assets/fit-bg.webp";
import happyBirthday from "@/assets/happy-birthday-bg.webp";

import demoPTAvif from "@/assets/proyecto-titulacion-bg.avif";
import blogBg2Avif from "@/assets/blog-bg.avif";
import fitBgAvif from "@/assets/fit.avif";
import happyBirthdayAvif from "@/assets/happy-birthday-bg.avif";

import IconHtml from "@/components/icons/HTML.astro";
import IconCss from "@/components/icons/Css.astro";
import IconAstro from "@/components/icons/IconAstro.astro";
import WebComponent from "@/components/icons/WebComponent.astro";
import IconTailwind from "@/components/icons/IconTailwind.astro";
import IconSvelte from "@/components/icons/IconSvelte.astro";
import IconTypeScript from "@/components/icons/IconTypeScript.astro";
import IconOpenRouter from "@/components/icons/IconOpenRouter.astro";
import IconFirebase from "@/components/icons/IconFirebase.astro";
---

<h2 class="section-projects-title">Proyectos</h2>

<div class="card-projects">
    <CardProject linkRepo={`${ROUTES.REPOSITORY}/birthday-26`}>
        <picture slot="image">
            <source srcset={happyBirthdayAvif.src} type="image/avif" />
            <source srcset={happyBirthday.src} type="image/webp" />
            <img src={happyBirthday.src} alt="Imagen" class="ar-main-cover" />
        </picture>

        <h3>Happy birthday</h3>
        <IconAstro class="icon-languages" />
        <IconTypeScript class="icon-languages" />
        <IconTailwind class="icon-languages" />
        <IconSvelte class="icon-languages" />
        <p>
            Transformé la experiencia visual con animaciones fluidas que
            conectan cada página. Optimicé el rendimiento y la experiencia de usuario migrando la base de React a Svelte.
        </p>
    </CardProject>
    <CardProject linkYt="https://youtu.be/U_7Vx_W1v9k">
        <picture slot="image">
            <source srcset={demoPTAvif.src} type="image/avif" />
            <source srcset={demoPT.src} type="image/webp" />
            <img src={demoPT.src} alt="Proyecto de titulación" class="ar-main-cover" />
        </picture>
        <h3>Proyecto de titulación</h3>
        <IconHtml class="icon-languages" />
        <IconCss class="icon-languages" />
        <IconOpenRouter class="icon-languages openrouter" />
        <IconFirebase class="icon-languages" />
        <p class="card-projects-p">
            Página inclusiva con modo oscuro, control de texto y animaciones
            desactivables para mejorar la accesibilidad.
        </p>
    </CardProject>
    <CardProject
        linkWeb={`${ROUTES.GITHUB_PAGES}/blog`}
        linkRepo={`${ROUTES.REPOSITORY}/blog`}
    >
        <picture slot="image">
            <source srcset={blogBg2Avif.src} type="image/avif" />
            <source srcset={blogBg2.src} type="image/webp" />
            <img src={blogBg2.src} alt="Blog" class="ar-main-cover" />
        </picture>
        <h3>Blog</h3>
        <IconAstro class="icon-languages" />
        <IconCss class="icon-languages" />
        <p class="card-projects-p">
            Página web desarrollada con <strong>Astro</strong>. Implementé
            componentes reutilizables de Astro y utilicé las Colecciones de
            Contenido.
        </p>
    </CardProject>
    <CardProject
        linkWeb={`${ROUTES.GITHUB_PAGES}/page-fake1/`}
        linkRepo={`${ROUTES.REPOSITORY}/page-fake1`}
    >
        <picture slot="image">
            <source srcset={fitBgAvif.src} type="image/avif" />
            <source srcset={fitBg.src} type="image/webp" />
            <img src={fitBg.src} alt="FitZone Gym" class="ar-main-cover" />
        </picture>
        <h3>FitZone Gym</h3>
        <IconHtml class="icon-languages" />
        <IconCss class="icon-languages" />
        <WebComponent class="icon-languages" />

        <p class="card-projects-p">
            Mi primera página web, en la cual implementé CSS utilizando la
            <strong>metodología BEM</strong>. También apliqué técnicas modernas
            como <strong>Nesting CSS</strong>, variables de CSS y media queries
            con condicionales.
        </p>
    </CardProject>
</div>
<style>
    .card-projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }
    .section-projects-title {
        margin-bottom: 40px;
    }
    h3 {
        text-align: center;
        color: light-dark(#2d9759, #91e891);
        font-weight: bold;
        text-shadow: 2px 1px 5px #91e891;
    }
    .card-projects-p {
        justify-self: center;
        margin: 15px 0 30px 0;
        text-wrap: pretty;
    }

    .icon-languages {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        height: 25px;
        width: 25px;
        margin: 0 0 0 8px;
    }
    .icon-languages:first-of-type {
        margin-left: 0;
    }

    .ar-main-cover {
        height: 200px;
        width: 100%;
        margin: auto;
        object-fit: cover;
    }
    .openrouter {
        color: light-dark(#000000, #ffffff);
    }
</style>