---
import CardProject from "@/components/CardProject.astro";
import demoPT from "@/assets/proyecto-titulacion-bg.webp";
import fitBg from "@/assets/fit-bg.webp";
import demoPTAvif from "@/assets/proyecto-titulacion-bg.avif";
import fitBgAvif from "@/assets/fit.avif";
import IconHtml from "@/components/icons/IconHtml.astro";
import IconCss from "@/components/icons/IconCss.astro";
import IconAstro from "@/components/icons/IconAstro.astro";
import WebComponent from "@/components/icons/IconWebComponent.astro";
import IconTailwind from "@/components/icons/IconTailwind.astro";
import IconSvelte from "@/components/icons/IconSvelte.astro";
import IconTypeScript from "@/components/icons/IconTypeScript.astro";
import IconOpenRouter from "@/components/icons/IconOpenRouter.astro";
import IconFirebase from "@/components/icons/IconFirebase.astro";
import { ROUTES } from '@/config';
import { getI18N } from "@/i18n/index"

const { currentLocale } = Astro
const locate = getI18N({ currentLocale });
---

<h2 class="section-projects-title">{locate.PROJECTS_TITLE}</h2>

<div class="card-projects">
    <CardProject 
        linkWeb={`${ROUTES.GITHUB_PAGES}/birthday-26`}
        linkRepo={`${ROUTES.REPOSITORY}/birthday-26`}
    >
        <video slot="cover" autoplay muted loop poster="/imgs/happy-birthday.avif" class="ar-main-cover">
            <source src="/videos/hb-av1.mp4" type="video/mp4" />
            <source src="/videos/hb-h264.mp4" type="video/mp4"/>
        </video>
        <h3>{locate.PROJECTS.HAPPY_BIRTHDAY_TITLE}</h3>
        <IconAstro class="icon-languages" />
        <IconTypeScript class="icon-languages" />
        <IconTailwind class="icon-languages" />
        <IconSvelte class="icon-languages" />
        <p>
            {locate.PROJECTS.HAPPY_BIRTHDAY_DESCRIPTION}
        </p>
    </CardProject>
    <CardProject linkYt="https://youtu.be/U_7Vx_W1v9k">
        <picture slot="cover">
            <source srcset={demoPTAvif.src} type="image/avif" />
            <source srcset={demoPT.src} type="image/webp" />
            <img src={demoPT.src} alt={locate.PROJECTS.DEGREE_TITLE} class="ar-main-cover" />
        </picture>
        <h3>{locate.PROJECTS.DEGREE_TITLE}</h3>
        <IconHtml class="icon-languages" />
        <IconCss class="icon-languages" />
        <IconOpenRouter class="icon-languages openrouter" />
        <IconFirebase class="icon-languages" />
        <p>
            {locate.PROJECTS.DEGREE_DESCRIPTION}
        </p>
    </CardProject>
    <CardProject
        linkWeb={`${ROUTES.GITHUB_PAGES}/page-fake1/`}
        linkRepo={`${ROUTES.REPOSITORY}/page-fake1`}
    >
        <picture slot="cover">
            <source srcset={fitBgAvif.src} type="image/avif" />
            <source srcset={fitBg.src} type="image/webp" />
            <img src={fitBg.src} alt="FitZone Gym" class="ar-main-cover" />
        </picture>
        <h3>FitZone Gym</h3>
        <IconHtml class="icon-languages" />
        <IconCss class="icon-languages" />
        <WebComponent class="icon-languages" />

        <p>
            {locate.PROJECTS.FITZONE_GYM_DESCRIPTION}
        </p>
    </CardProject>
</div>
<style>
    .card-projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        gap: 20px;

        & h3 {
            text-align: center;
            color: light-dark(#2d9759, #91e891);
            font-weight: bold;
        }
        & p {
            justify-self: center;
            margin: 15px 0 30px 0;
            text-wrap: pretty;
        }
    }
    .section-projects-title {
        margin-bottom: 40px;
    }

    .icon-languages {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        height: 25px;
        width: 25px;
        margin: 0 0 0 8px;

        color: var(--svg-color);
    }
    .icon-languages:first-of-type {
        margin-left: 0;
    }

    .ar-main-cover {
        display: block;
        height: 200px;
        width: 100%;
        margin: auto;
        object-fit: cover;
        aspect-ratio: 16 / 9;
    }
    .openrouter {
        color: light-dark(#000000, #ffffff);
    }
</style>